.nav {
    width: 261.5px;
    height: 100%;
    background: #37474f;
    mix-blend-mode: normal;
    
    padding: 35.5px 24px 35.5px 26px;
    
}

.navhead {
    min-height: 71px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    
}

.settingsLink {
    width: 14px;
    height: 15px;
    justify-self: end;
    align-self: center;
    
    display: block;
    transition: 0.4s ease-in-out;
}

.settingsIc {
   
    
    transition: 0.4s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
.settingsIc:hover path  {
        opacity: 1;
    }
}

    .listNomCont {
        display: flex;
        align-items: center;
        
    }

.listNom {
    font-size: 1.428em;
    color: #FFFFFF;
    font-weight: 700;
    
}





.allThreads {
    font-size: 1em;
    color: #B5B5B5; 
    align-self: flex-end;

}

.allThreads::before {
    
        content: '';
        display: inline-block;
        background: url(img/allBefore.svg);
        width: 16px;    
        height: 17px;
        position: relative;
        top: 4px;
        margin-right: 11px;
    
}


