.nav {
    width: 71.5px;
    height: 100%;
    background: #2c393f;
    mix-blend-mode: normal;
    position: relative;
    padding-bottom: 100px;
    overflow: auto;


}

.addCont {
    height: 41.5px;
    width: 41.5px;
    border-radius: 50%;
    background: rgba(#FFFFFF, 0.1);
    mix-blend-mode: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 15px;
    bottom: 15.5px;
    box-shadow: -2px 0px 16px rgba(0, 0, 0, 0.16);
    scrollbar-width: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    }

    .addCont::-webkit-scrollbar {
        width: 0;
      }

    .addCont.addContActive {
        background: #007865;
        

        .addIco {
            transform: rotateZ(45deg);
            
        }
    }

    .addIco {
        transition: 0.15s ease-in-out;
    }